@model BSIT3L_Movies.Models.MovieViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Movie: @Model.Name</title>
    <style>
        .container {
            display: flex;
        }
        .poster {
            display: flex;

            width: 175px;
            height: 400px;
        }
        .bod {
            margin-left: 150px
        }
    </style>
</head>
<body>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Index"><-- Back to Movie Library</a>
    <h1>Movie Details</h1>
    <hr />
<div class="container">
    <div class="poster">
        <img class="ImagePost" src="@Model.Photourl" alt="@Model.Name">
    </div>

    <div class="bod">
        <h3 class="text-dark">@Model.Name</h3>
        <br />
            <p class="text-dark">Rating: @Model.Rating</p>
            <p class="text-dark">Release Year: @Model.ReleaseYear</p>
            <p class="text-dark">Genre: @Model.Genre</p>
            <p class="text-dark">
            Synopsis:<br />
            @Model.Description
        </p>
        <br />
            <a href="@Model.url" target="_blank">
                <button type="button" class="btn btn-dark"> Watch trailer</button>
            </a>
    </div>
</div>
</body>
</html>